@charset "UTF-8";
body {
  background-color: #f2f4f6;
}

/* FontFamily */
body {
  font-family: "ヒラギノ明朝 ProN", "YakuHanJPs, 'Hiragino Kaku Gothic Pro', MyYuGothicM, Meiryo, sans-serif;";
}

/* font-weight */
.u-desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media (max-width: 375) {
  html {
    font-size: 4.26667vw;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.45455vw;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/*
.l-inner {
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}*/
.l-section {
  padding: 70px 0;
  padding: 4.375rem 0;
}

.l-inner {
  width: calc(100% - 40px);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .l-inner {
    width: 87.5%;
  }
}

.p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  height: 3.75rem;
}

.l-footer {
  padding: 45px 0;
  padding: 2.8125rem 0;
}

.l-works {
  max-width: 1000px;
  max-width: 62.5rem;
  width: 100%;
}

.p-drawer {
  display: none;
}

.p-footer {
  background: #3e3e3e;
}

.footer__copyright {
  font-size: 14px;
  font-size: 0.875rem;
  display: block;
  text-align: center;
  color: #fff;
}

.header {
  font-size: 16px;
  font-size: 1rem;
  background-color: #b1e0e6;
  width: 100%;
  height: 100vh;
  background-image: url(../../images/common/背景テスト-min.jpg);
}

.p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  height: 3.75rem;
  position: fixed;
  width: 100%;
  padding: 0 25px;
  padding: 0 1.5625rem;
  z-index: 20;
  background-color: #b1e0e6;
}

.header__menu {
  margin-left: auto;
}

.p-about__body {
  padding: 10px;
  padding: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: gray;
  margin: 20px auto 0;
  margin: 1.25rem auto 0;
  letter-spacing: .1em;
  max-width: 1000px;
  max-width: 62.5rem;
  width: 100%;
}

.p-about__img {
  width: 30%;
}

.p-about__name {
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: 700;
}

.p-about__name span {
  margin-left: 5px;
  margin-left: 0.3125rem;
}

.p-about__text--top {
  font-size: 14px;
  font-size: 0.875rem;
}

.p-about__text__title {
  display: inline-block;
  border-bottom: solid 1px;
}

.p-about__text--bottom {
  font-size: 14px;
  font-size: 0.875rem;
}

.p-about-porfile {
  width: 400px;
  width: 25rem;
}

.p-about-porfile__name {
  text-align: center;
}

.customize-thumbnails-gallery {
  width: 100%;
  max-width: 1000px;
  max-width: 62.5rem;
}

.lg-custom-thumbnails.lg-outer {
  width: auto;
  right: 225px;
  left: 10px;
}

.lg-custom-thumbnails.lg-outer .lg-thumb-outer {
  left: auto;
  top: 0;
  width: 225px;
  bottom: 0;
  position: fixed;
  right: 0;
  max-height: none;
  background-color: #999;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 -10px;
  overflow-y: auto;
  -webkit-transform: translate3d(30%, 0, 0);
          transform: translate3d(30%, 0, 0);
  opacity: 0;
  will-change: transform opacity;
  -webkit-transition: cubic-bezier(0, 0, 0.25, 1) 0.15s, -webkit-transform 0.15s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: cubic-bezier(0, 0, 0.25, 1) 0.15s, -webkit-transform 0.15s cubic-bezier(0, 0, 0.25, 1) 0s;
  transition: transform 0.15s cubic-bezier(0, 0, 0.25, 1) 0s, cubic-bezier(0, 0, 0.25, 1) 0.15s;
  transition: transform 0.15s cubic-bezier(0, 0, 0.25, 1) 0s, cubic-bezier(0, 0, 0.25, 1) 0.15s, -webkit-transform 0.15s cubic-bezier(0, 0, 0.25, 1) 0s;
}

.lg-custom-thumbnails.lg-outer.lg-thumb-open .lg-thumb-outer {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

.lg-custom-thumbnails.lg-outer .lg-thumb-item {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  will-change: filter;
  -webkit-transition: border-color 0.12s ease, -webkit-filter 0.12s ease-in;
  transition: border-color 0.12s ease, -webkit-filter 0.12s ease-in;
  transition: filter 0.12s ease-in, border-color 0.12s ease;
  transition: filter 0.12s ease-in, border-color 0.12s ease, -webkit-filter 0.12s ease-in;
}

.lg-custom-thumbnails.lg-outer .lg-thumb-item:hover, .lg-custom-thumbnails.lg-outer .lg-thumb-item.active {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  border-color: #545454;
}

.lg-custom-thumbnails.lg-outer .lg-thumb {
  padding: 5px 0;
}

.p-common {
  text-align: center;
  font-weight: 700;
}

.p-common__title {
  font-size: 32px;
  font-size: 2rem;
}

.p-common__text {
  display: block;
  margin-top: 10px;
  margin-top: 0.625rem;
  font-size: 14px;
  font-size: 0.875rem;
}

.contact {
  background: #efefef;
}

.contact__item {
  margin: 80px auto 0;
  padding: 60px;
  background: #fff;
  width: 800px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .contact__item {
    padding: 20px;
    margin-top: 26px;
  }
}

.contact__controls {
  margin: 0;
}

.contact__control {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .contact__control {
    display: block;
    margin-bottom: 24px;
  }
}

.contact__control:last-child {
  margin-bottom: 0;
}

.contact__control dt {
  width: 160px;
  padding: 6px 0 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .contact__control dt {
    width: 100%;
    padding-top: 0;
  }
}

.contact__control dd {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .contact__control dd {
    width: 100%;
    margin-top: 8px;
  }
}

.contact__label {
  font-size: 16px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .contact__label {
    font-size: 16px;
    display: inline-block;
  }
}

.contact__label--required {
  position: relative;
}

@media screen and (min-width: 768px) {
  .contact__label--required {
    padding-right: 54px;
  }
}

.contact__label--required::after {
  content: "必須";
  position: absolute;
  background: red;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  padding: 4px 8px;
  width: 44px;
  display: block;
  top: calc(100% + 8px);
  left: 0;
}

@media screen and (min-width: 768px) {
  .contact__label--required::after {
    top: 50%;
    left: auto;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.contact__required {
  background: red;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 1px 8px;
  width: 46px;
  display: block;
  margin-top: 6px;
}

.contact__check {
  margin-top: 58px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contact__check {
    margin-top: 24px;
  }
}

.contact__check a {
  color: #707070;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 700;
}

.contact__submit {
  margin: 0 auto;
  display: block;
  text-align: center;
  background: #b1e0e6;
  width: 200px;
  width: 12.5rem;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.form-input {
  width: 100%;
  border: 1px solid #707070;
  padding: 4px 16px;
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  height: 38px;
}

@media screen and (min-width: 768px) {
  .form-input {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.form-select {
  background: transparent url(../img/select-arrow.png) no-repeat center right 12px/17px 14px;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  padding: 3px 16px;
  width: 100%;
  border: 1px solid #707070;
  height: 38px;
}

@media screen and (min-width: 768px) {
  .form-select {
    padding-top: 3px;
    padding-bottom: 3px;
    background-position: center right 10px;
  }
}

.form-textarea {
  width: 100%;
  height: 240px;
  border: 1px solid #707070;
  padding: 10px 16px;
  line-height: 1.625;
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  vertical-align: bottom;
}

@media screen and (min-width: 768px) {
  .form-textarea {
    height: 180px;
  }
}

.form-checkbox {
  display: none;
}

.form-checkbox + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 20px;
  padding: 0 0 0 1.25rem;
  position: relative;
}

.form-checkbox + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .16);
  border-radius: 2px;
  content: "";
  display: block;
  height: 1em;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
}

.form-checkbox + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
  content: "";
  display: block;
  height: 0.6em;
  left: 0;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 1em;
}

.form-checkbox:checked + span::after {
  opacity: 1;
}

.contact__message {
  text-align: center;
  margin-top: 60px;
  margin-top: 3.75rem;
  display: none;
}

.contact__message.-error {
  color: #f00;
}

/*

.form-checkbox {
//  display: none;

  + span {
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 50px;
    position: relative;

    @include mq("md") {
      padding-left: 46px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      background: #fff;
      border: 1px solid #707070;
      display: block;
      left: 0;
      width: 25px;
      height: 25px;
    }

    &::after {
      border: 1px solid transparent;
      left: 0;
      width: 25px;
      height: 25px;
      background: transparent url(/img/button-arrow.png) no-repeat center center / contain;
      transition: opacity 0.3s ease 0s;
      opacity: 0;
    }
  }

  &:checked {
    + span {
      &::after {
        opacity: 1;
      }
    }
  }
}
*/
.p-logo {
  font-family: 'ヒラギノ明朝 ProN';
}

.p-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-top__menu {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.p-top__menu:not(:last-child) {
  margin-right: 40px;
  margin-right: 2.5rem;
}

.p-top__menu a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.p-top__menu a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.p-top__menu a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.p-works__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-top: 3.125rem;
  padding: 50px;
  padding: 3.125rem;
  background-color: #fff;
  border-radius: 1.25rem;
}

.p-works__list {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 350px;
  width: 21.875rem;
}

.p-works__list:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.p-works__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-works__item {
  width: 100%;
}

.p-works__top {
  font-size: 20px;
  font-size: 1.25rem;
}

.p-works__list--right {
  margin-left: 100px;
  margin-left: 6.25rem;
  width: 50%;
}

.p-works__list--left {
  width: 50%;
  text-align: center;
}

.p-works__img {
  max-width: 430px;
  max-width: 26.875rem;
  width: 100%;
}

.p-works__list__items {
  border-bottom: solid 2px black;
  padding: 10px 0;
  padding: 0.625rem 0;
}

.p-works__list__item {
  padding-top: 20px;
  padding-top: 1.25rem;
}
